<div id="pageajax">
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    首页
                </li>

                <li>
                    管理员
                </li>
            </ul>

        <div class="nav-search" id="nav-search"  style="top: 3px;">
            <a href="<{:U('Allowip/addshow')}>"><button class="btn btn-sm btn-primary no-border">新增操作IP</button></a>

        </div><!-- #nav-search -->
    </div>

    <div class="page-content">


        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <form action="__MODULE__/Allowip/alldel"  enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-header">

                        </div>

                        <div class="table-responsive">
                            <table  id="sample-table-2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center" style="width: 50px;"><input type="checkbox" id="delt" name="delt"  value="delt" ></th>
                                    <th class="center" style="width: 50px;">Id</th>
                                    <th>允许IP</th>
                                    <th style="width: 100px;">操作</th>
                                </tr>
                                </thead>

                                <tbody >
                                <volist id="vo" name="list">
                                <tr>
                                    <td class="center"><input type="checkbox" value="<{$vo.id}>" name="id[]"></td>
                                    <td class="center"><{$vo.id}></td>
                                    <td><a href="<{:U('Allowip/edit',array('id'=>$vo['id']))}>"><{$vo.ip}></a></td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            &nbsp;
                                            <a title="编辑" class="green" href="<{:U('Allowip/edit',array('id'=>$vo['id']))}>">
                                                <i class="icon-pencil bigger-130"></i>
                                            </a>
                                            <a id="id-btn-dialog20"  title="删除" class="red" href="<{:U('Allowip/del',array('id'=>$vo['id']))}>" onclick="return confirm('是否确认删除？');">
                                                <i class="icon-trash bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </volist>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div>
                <a href="#" onclick="return confirm('是否确认删除？');"><button class="btn btn-sm btn-primary no-border">全部删除</button></a>
                </div>

                </form>
                <!--class no-margin-top-->
                <div class="modal-footer " style="text-align: left;margin-top: 10px;">
                    <ul class="pagination  no-margin" style="width:100%;">
                        <{$page}>
                    </ul>
                </div>


            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
</div>